@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  background: #161616;
}

.fullcontainer {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: linear-gradient(to bottom, #3d52d5, #000e6c00);
}

.container {
  max-width: 1073px;
  margin: 0 auto;
}
.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation ul {
  list-style: none;
  display: flex;
  gap: 28px;
  align-items: center;
  margin: 0;
}

.main-navigation a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: bold;
  border-bottom: solid 3px transparent;
}
.main-navigation a:hover,
.main-navigation a:focus {
  border-color: #3d52d5;
}

.site-header-main {
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.sec-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sec-menu ion-icon {
  font-size: 25px;
}

.insta {
  text-decoration: none;
  color: #fff;
}

.sobre {
  color: #fff;
  margin: 160px;
  max-width: 560px;
  font-family: "Roboto";
  font-weight: normal;
}
#sobre {
  color: #3d52d5;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}
